.css1{
    background-color:rgb(207, 207, 166);
    font-size:50px;
    text-align: center;
    font-family: georgia;
    font-style:italic;
    font-weight:bold;
    color:purple;
    text-shadow: 2px 2px 8px #FF0000;
  }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #4788bc;
    font-family: sans-serif;
    outline: none;
}
input{
    grid-column: span 4;
    height: 100px;
    width: 320px;
    background-color: #ecf0f3;
    box-shadow: inset 5px 5px 12px rgba(0,0,0,16);   
    border-radius: 20px;
    color: rgb(70, 70, 70);
    font-size: 60px;
    margin-bottom: 20px;
    padding: 15px;
    border:none;
}
.container{
    justify-content: center;
    align-items: center;
    height: 80vh;
    display: flex;
}
.calculator{
    background-color: #a8c8e1;
    display: grid;
    grid-template-columns: repeat(4,80px);
    padding: 20px;  
    border-radius: 20px;              
}
button{
    height: 50px;
    width: 50px;
    border: none;
    border-radius: 15px;
    margin: 8px;
    font-size: 16px;
    background-color: rgb(106, 67, 147);
    box-shadow: -5px -5px 12px #3a2c2c;   
}
button:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.equal{
    width: 130px;
    box-shadow: -5px -5px 12px #3a2c2c;
    border-radius: 20px;
    background-color: rgb(106, 67, 147);
}
